*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.banner{
	margin: 100px auto;
	border: 5px solid #000;
	width: 770px;
	height: 432px;
	overflow: hidden;
	position: relative;
}
.banner .img{
	width: 4000px;
	position: absolute;
	top: 0;
	left: 0;
}
.banner .img li{
	float: left;
}
.banner .num{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 0px;
}
.banner .num li{
	width: 10px;
	height: 10px;
	background: #888;
	border-radius: 50%;
	display: inline-block;
	margin: 0 3px;
	cursor: pointer;
}
.banner .num li.on{
	background: #F60;
}
.banner .btn{
	width: 30px;
	height: 50px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 40px;
	font-family: "宋体";
	display: none;
}
.banner:hover .btn{
	display: block;
}
.banner .btn_l{
	left: 0;
}
.banner .btn_r{
	right: 0;
}
